<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-Data" data-toc-modified-id="Import-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import Data</a></span></li><li><span><a href="#Bootstrap" data-toc-modified-id="Bootstrap-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Bootstrap</a></span></li><li><span><a href="#Do-EWS" data-toc-modified-id="Do-EWS-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Do EWS</a></span></li></ul></div>

In [2]:
__author__ = "Louella Alva Presbitero"

In [3]:
import pandas as pd

import sys
sys.path.append('../')

import burn
from burn.preprocess import *
from burn.model import *
from burn.utils import *
from burn.plot import *
from burn.parameters import *

# Import Data

In [4]:
# import mars dataset
data = pd.read_csv('../data/MARS_luminex.csv')

# import survival
survive = pd.read_csv('../data/ICU_survival.csv')

In [5]:
# merge data
df = data.merge(survive[['ICU_ID_from_datasource', 'death_in_ICU']], on='ICU_ID_from_datasource')

# get critical patients
df_critical = df[df['death_in_ICU'] == 1]

# get non-critical patients
df_non_critical = df[df['death_in_ICU'] == 0]

In [6]:
df_critical.head()

,Unnamed: 0,ICU_Admission_TK,ICU_ID_from_datasource,Assessment_Dates_TK,days_since_admission,Neutrophils,AF_Max,CRP_Max,White_cell_count_Max,PG.ML.A7.IL6,LLOD.A7.IL6,LLOQ.A7.IL6,PG.ML.B7.IL10,LLOD.B7.IL10,LLOQ.B7.IL10,death_in_ICU
49,50,1033,7507,NaN,0,NaN,NaN,126.0,12.5,NaN,NaN,NaN,NaN,NaN,NaN,1
50,51,1033,7507,1126.0,1,12.0,96.0,157.0,12.5,NaN,NaN,NaN,NaN,NaN,NaN,1
51,52,1033,7507,1127.0,2,NaN,102.0,295.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,1
52,53,1033,7507,1128.0,3,NaN,78.0,221.0,9.6,NaN,NaN,NaN,NaN,NaN,NaN,1
53,54,1033,7507,1129.0,4,NaN,84.0,304.0,10.3,NaN,NaN,NaN,NaN,NaN,NaN,1

In [7]:
df_non_critical.head()

,Unnamed: 0,ICU_Admission_TK,ICU_ID_from_datasource,Assessment_Dates_TK,days_since_admission,Neutrophils,AF_Max,CRP_Max,White_cell_count_Max,PG.ML.A7.IL6,LLOD.A7.IL6,LLOQ.A7.IL6,PG.ML.B7.IL10,LLOD.B7.IL10,LLOQ.B7.IL10,death_in_ICU
0,1,1004,7461,NaN,0,NaN,NaN,11.0,15.9,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2,1004,7461,1008.0,1,NaN,93.0,16.0,15.9,NaN,NaN,NaN,NaN,NaN,NaN,0
2,3,1004,7461,1009.0,2,NaN,NaN,144.0,10.6,NaN,NaN,NaN,NaN,NaN,NaN,0
3,4,1004,7461,1010.0,3,NaN,NaN,404.0,10.8,NaN,NaN,NaN,NaN,NaN,NaN,0
4,5,1004,7461,1011.0,4,NaN,NaN,248.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,0

# Bootstrap

In [8]:
cells = ['White_cell_count_Max', 'Neutrophils', 'CRP_Max', 'PG.ML.A7.IL6', 'PG.ML.B7.IL10', 'AF_Max']

In [14]:
cell = cells[0]
time = 'days_since_admission'
patient = 'ICU_ID_from_datasource'
group_dataframes(df_non_critical, cell, time)

    days_since_admission  median        std
0                      0    14.8  16.322840
1                      1    15.1   9.893150
2                      2    13.1   8.236537
3                      3    13.1   8.077364
4                      4    12.1   7.827762
..                   ...     ...        ...
94                    94    13.2        NaN
95                    95    14.4        NaN
96                    96    16.1        NaN
97                    97    16.3        NaN
98                    98    14.0        NaN

[99 rows x 3 columns]

In [ ]:
def bootstrap_df(df):
    """ Select from 
    
    Args:
    
    Returns:
    """
    df

In [109]:
df_non_critical = df[df['death_in_ICU'] == 0]
to_drop = ['Unnamed: 0', 'ICU_Admission_TK', 'Assessment_Dates_TK', 'death_in_ICU']
df_non_critical = df_non_critical.drop(to_drop, axis=1)
df_non_critical.head()

,ICU_ID_from_datasource,days_since_admission,Neutrophils,AF_Max,CRP_Max,White_cell_count_Max,PG.ML.A7.IL6,LLOD.A7.IL6,LLOQ.A7.IL6,PG.ML.B7.IL10,LLOD.B7.IL10,LLOQ.B7.IL10
0,7461,0,NaN,NaN,11.0,15.9,NaN,NaN,NaN,NaN,NaN,NaN
1,7461,1,NaN,93.0,16.0,15.9,NaN,NaN,NaN,NaN,NaN,NaN
2,7461,2,NaN,NaN,144.0,10.6,NaN,NaN,NaN,NaN,NaN,NaN
3,7461,3,NaN,NaN,404.0,10.8,NaN,NaN,NaN,NaN,NaN,NaN
4,7461,4,NaN,NaN,248.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
cell = cells[0]

In [162]:
def bootstrap_dist(x, df, df_group, cell, params):
    """ Bootstraps missing values by assuming a normal distribution.
    
    Args:
    x : Series. Row of each dataframe
    df : Dataframe. Dataframe of timeseries for each cell concentration
    df_group : Dataframe. Aggregate values grouped according to day of 
                treatment. 
    cell: str. Column name of immune cell
    params: dic. Dictionary of parameter values
    
    Returns:
    x: Series. Updated series, where all NANs are replaced by values.
    
    """
    df_group_day = df_group[df_group[params['day_col']]
                            == x[params['day_col']]]

    mu = df_group_day[params['mu']]
    sigma = df_group_day[params['sigma']]

    if pd.isna(x[cell]):
        rand = np.random.normal(mu, sigma)[0]
        while rand < 0:
            rand = np.random.normal(mu, sigma)[0]
        x[cell] = rand
    return x

In [163]:
params = {
    'mu': 'mean',
    'sigma': 'std',
    'day_col': 'days_since_admission',
    'pat_col': 'ICU_ID_from_datasource'
}

cell = cells[1]

# non-critical
# group non-critical
df_group_cell = group_dataframes(
    df_non_critical, cell, time, agg_list=['mean', 'std'])

# trim
df_cell = df_non_critical[[cell, params['pat_col'], params['day_col']]]
df_cell_boot = df_cell.apply(lambda row: bootstrap(row,
                                                   df_cell, df_group_cell, cell, params), axis=1)
df_cell

       Neutrophils  ICU_ID_from_datasource  days_since_admission
0              NaN                    7461                     0
1              NaN                    7461                     1
2              NaN                    7461                     2
3              NaN                    7461                     3
4              NaN                    7461                     4
...            ...                     ...                   ...
12390         13.2                   13344                     1
12391         10.1                   13344                     2
12392          8.2                   13344                     3
12393          NaN                   13352                     0
12394          7.7                   13352                     1

[8161 rows x 3 columns]

In [159]:
df_cell_boot

       Neutrophils  ICU_ID_from_datasource  days_since_admission
0        19.236666                  7461.0                   0.0
1         7.920126                  7461.0                   1.0
2        11.894310                  7461.0                   2.0
3        16.010514                  7461.0                   3.0
4        13.581946                  7461.0                   4.0
...            ...                     ...                   ...
12390    13.200000                 13344.0                   1.0
12391    10.100000                 13344.0                   2.0
12392     8.200000                 13344.0                   3.0
12393    15.523515                 13352.0                   0.0
12394     7.700000                 13352.0                   1.0

[8161 rows x 3 columns]

In [164]:
def bootstrap(df, method):
    if method == 'sampling':
        return do_bootstrap_sampling(df)
    elif method == 'distribution':
        return do_bootstrap_dist(df)

# Do EWS